@model EntityLayer.Concrete.User

@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Kullanıcı Güncelleme Sayfası</h3>
</div>

@using (Html.BeginForm("UpdateUser", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(x => x.UserId)
    <br />

    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />

    <label>Email</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
}